@model LarchProvisionsWebsite.Models.Ingredient

<!-- Modal Trigger -->
<button data-target="ingredientModal" class="waves-effect waves-light btn modal-trigger">create new</button>

<!-- Modal Structure -->
<div id="ingredientModal" class="modal create-ingredient-wrapper">
    <div class="modal-content">
        <div class="row">
            <form asp-action="Create" asp-controller="Ingredients" class="col s12">
                <div class="row">
                    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />

                    <div class="input-field col s2">
                        <label asp-for="Amount">amount (number)</label>

                        <input asp-for="Amount" autofocus class="validate" type="number" />
                        <span asp-validation-for="Amount" class="text-danger" />

                    </div>
                    <div class="input-field col s3">
                        <label asp-for="Unit">unit of measurement</label>

                        <input asp-for="Unit" class="validate" type="text" />
                        <span asp-validation-for="Unit" class="text-danger" />

                    </div>
                    <div class="input-field col s7">
                        <label asp-for="IngredientName">ingredient name</label>

                        <input asp-for="IngredientName" class="validate" type="text" />
                        <span asp-validation-for="IngredientName" class="text-danger" />

                    </div>

                    <div class="input-field col s12">
                        <label asp-for="Source">source, notes, etc.</label>

                        <input asp-for="Source" class="validate" type="text" />
                        <span asp-validation-for="Source" class="text-danger" />

                    </div>

                    <div class="input-field col s12 center">
                        <input type="submit" value="Create" class="btn btn-large waves-effect waves-light" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
