@{
    ViewData["Title"] = "Confirm Email";
}
<div class="manage-account">
    <div class="container">
        <br />
        <h2>@ViewData["Title"].</h2>
        <div class="row">
            <p>
                Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.
            </p>
        </div>
    </div>
</div>