@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="verify-number">
    <div class="container">
        <div class="row">
<h2>@ViewData["Title"].</h2>
<h5>
    Please check your email to reset your password.
</h5>

        </div>
        <br />
    </div>
</div>
