@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="manage-account">
    <div class="container">
        <br />
        <div class="row">
            <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="col s12" role="form">
                <div class="row">

                    <h4>enter your email</h4>
                    <hr />
                    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                    <div class="input-field">
                        <label asp-for="Email" class="col s12"></label>

                        <input asp-for="Email" class="validate" type="email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="input-field">
                        <div class="col s12 center">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}