@model RegisterViewModel
@{
    ViewData["Title"] = "Register w/ Larch";
}
<div class="register-display">
    <div class="container">
        <br />
        <div class="row">
            <form asp-controller="Account" asp-action="Register" method="post" class="col s12" role="form">
                <div class="row">

                    <h4>create a new account with larch provisions to place orders.</h4>
                    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                    <div class="input-field col s12">
                        <label asp-for="Email"></label>

                        <input asp-for="Email" class="validate" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="input-field col s12">
                        <label asp-for="Password" class="col-md-2 control-label"></label>

                        <input asp-for="Password" class="validate" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="input-field col s12">
                        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>

                        <input asp-for="ConfirmPassword" class="validate" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="input-field col s12">
                        <button type="submit" class="btn btn-default">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}