$strawberry: #892517 !default;

.btn {
    background-color: darken(lightgray, 2);
    text-shadow: 1px 1px 1px black;
    .remove-order-btn {
    box-shadow: none;
    background-color: transparent;
    i {
        color: $strawberry;
    }
    i:hover {
        cursor: pointer;
    }
    }
}

    .remove-order-btn:hover {
        box-shadow: none;

    }
.btn:hover {
    background-color: darken(lightgray, 4);
    color: $strawberry;
    text-shadow: 1px 1px 1px black;
}

.btn:focus {
    background-color: #f6f6f6;
    box-shadow: rgba(137, 37, 23, .8) 10px 10px initial;
    color: #892517;
}

.delete-button {
    background-color: transparent;
    width: 20px;
    margin: 0px;
    border: none;
    box-shadow: none;
    

    .delete-icon {
        opacity: 1 !important;
        margin-left: 0px;
    }
}

.delete-button:hover {
        box-shadow: none;
        background-color: transparent;
 
}

.delete-button:focus {
        box-shadow: none;
        background-color: transparent;
 
}

.add-recipe {
    background-color: transparent;
    border: none;
    box-shadow: none;

}
.add-recipe:hover {
    box-shadow: none;
    background-color: transparent;
}

