/* label color */
.input-field label {
    opacity: 0;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #892517;
    font-size: 1.2em;
    opacity: 1 !important;
}

.input-field input[type=number]:focus + label {
    color: #892517;
    opacity: 1 !important;
}

.input-field input[type=text] {
    color: lightgrey;
    text-shadow: 1px 1px 1px black;
    font-size: 1.3em;
    border-bottom: 1px solid #892517;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=number] {
    color: lightgrey;
    text-shadow: 1px 1px 1px black;
    font-size: 1.3em;
    border-bottom: 1px solid #892517;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=date] {
    color: lightgrey;
    text-shadow: 1px 1px 1px black;
    font-size: 1.3em;
    border-bottom: 1px solid #892517;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=date]:focus {
    border-bottom: 1px solid #892517;
    box-shadow: 0 1px 0 0 #000;
}


/* input underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid lightgray;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=number]:focus {
    border-bottom: 1px solid lightgray;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}
