@{
    ViewBag.Title = "About Larch Provisions";
}

<div class="about-content container-fluid">
    <div class="row about-title">
        <h3>larch provisions</h3>

        <div class="col l6 m6 s12 about-column1">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/img/emily-cake.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">EMILY CAFAZZO<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <div class="row">
                    <span class="card-title grey-text text-darken-4">emily cafazzo<i class="material-icons right">close</i></span>
                        <div class="col l6 m12 s12">

                            <p><strong>EMILY</strong> is an oregon native and professional chef, with 12 years experience cooking in some of portland and new york’s best kitchens (beast, toro bravo, roberta’s and blanca).
                            <p>
                                raised in corvallis, emily grew up working closely with her mother kathy at a wholesale plant nursery in nearby albany. It was there at the nursery, and in her family’s home garden that emily came to understand delicious food as a product of quality ingredients.
                            </p>

                            <p>as an adolescent, her love for travel and dining introduced her to new food cultures and exotic cuisines around the globe, where she fell deeply in love with restaurants and hospitality at a young age. </p>
                        </div>
                        <div class="col l6 m12 s12">
                            <p>from western culinary institute graduate (2003) to iron chef america contestant (beast, 2010) - emily’s culinary trajectory has found her leading the kitchens of some of portland’s best chefs and restaurateurs; including gabe rucker and naomi pomeroy, tommy habetz, john gorham, troy mcclarty, and more. </p>
                            <p>emily is inspired by local ingredients, seasonal vegetables and farm produce, and specializes in pastry, pies, and cakes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l6 m6 s12 about-column2">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/img/ryan-pasta.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">RYAN DOMINGO<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <div class="row">
                            <span class="card-title grey-text text-darken-4">RYAN DOMINGO<i class="material-icons right">close</i></span>
                        <div class="col l6 m12 s12">
                            <p><strong>RYAN</strong> is a restaurant operations manager and chef, with experience in retail management, marketing and advertising.</p>
                            <p>in 2004 he earned a degree in marketing and management from the university of portland, where he also lettered four years as a member of the university’s men’s varsity soccer team.</p>
                            <p>ryan managed retail stores for adidas and worked as an advertising account executive for nike in his early 20’s but his his love for food, cooking and dining inspired him to find work in restaurants in 2007. </p>
                            </div>
                        <div class="col l6 m12 s12">

                            <p>with 8 years experience in restaurant management, most notably as general manager of andy ricker’s pok pok NY in brooklyn, new york; ryan has become an expert in restaurant systems, communication and team building, staff management, and guest relations.</p>
                            <p>currently, when ryan is not managing the black rabbit at edgefield, he is an avid forager and celebrates the bounty of the pacific northwest by the gathering of the seasons’ wild edibles. he is also the chef of a private, monthly filipino supper club in northeast portland.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row socials">
      <div class="col l6 m6 s12">

            <h4>@@larchprovisions</h4>

            <!-- SnapWidget -->
            <script src="http://snapwidget.com/js/snapwidget.js"></script>
            <iframe src="http://snapwidget.com/in/?u=bGFyY2hwcm92aXNpb25zfGlufDI1MHwzfDN8fG5vfDV8bm9uZXxvblN0YXJ0fHllc3x5ZXM=&ve=240416" title="Larch Provisions" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
      </div>
      <div class="col l6 m6 s12">
          <a class="twitter-timeline" href="https://twitter.com/ryandomingo" data-widget-id="709631348592365568">Tweets by ryandomingo</a>
          <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
      </div>
      
    </div>
    <div class="row">
        <div class="col l6 m6 s12 about-column1">

            <!-- SnapWidget -->
            <h2 class="e-instagram">
                @@e.cafazzo
                <a href="https://www.instagram.com/e.cafazzo/">
                    <img src="~/img/Instagram.png" />
                </a>
            </h2>
            <script src="http://snapwidget.com/js/snapwidget.js"></script>
            <iframe src="http://snapwidget.com/in/?u=ZS5jYWZhenpvfGlufDc1fDF8MjB8fHllc3w1fG5vbmV8b25TdGFydHx5ZXN8eWVz&ve=140316" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
        </div>
        <div class="col l6 m6 s6 about-column2">
            <!-- SnapWidget -->
            <iframe src="http://snapwidget.com/sc/?u=cnlhbmFsYW5kb21pbmdvfGlufDMwMHwzfDN8fG5vfDV8bm9uZXxvblN0YXJ0fHllc3xubw==&ve=300416" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:500px; height:300px"></iframe>
            
        </div>
    </div>
</div>