@{
    ViewBag.Title = "Contact Larch";
}
<div class="container-fluid contact">

    <div class="wrapper contact-photo">
        <img src="~/img/in-the-kitchen.png" class="img-responsive" alt="Larch in action" />
    </div>
    <div class="container">
        <div class="address">
            located on historic columbia river gorge highway<br />
            at the crest of the gorge<br />
            where the corbett exit from the 84 meets the highway
            corbett, or
        </div>
        <div class="email">
            <strong>email</strong><br />
            <a href="mailto:larch.catering@gmail.com">larch.catering@gmail.com</a><br />
        </div>
        <div class="order-form">

            <a href="https://docs.google.com/forms/d/1N1ZXhkgLk6IDEoyabNEUdhfQNJq4SyseoF2_4WVrBIE/viewform?c=0&w=1">order from this week's menu</a>
        </div>
    </div>
</div>