@{
    ViewBag.Title = "Contact Larch";
}
<div class="container-fluid  contact">

        <div class="wrapper contact-photo">
            <img src="~/img/in-the-kitchen.png" class="img-responsive" alt="Larch in action" />
        </div>
    <div class="container">

        <img class="white-larch-logo" src="~/img/white-larch-logo.png" />

        <address>
            Located on Historic Columbia River Gorge Highway<br />
            At the crest of the gorge<br />
            Where the Corbett exit from the 84 meets the highway
            Corbett, Oregon
        </address>
        <address>
            <strong>Email:</strong>
            <a href="larch.catering@gmail.com">larch.catering@gmail.com</a><br />

            <a href="https://docs.google.com/forms/d/1N1ZXhkgLk6IDEoyabNEUdhfQNJq4SyseoF2_4WVrBIE/viewform?c=0&w=1">Order Form to order from this week's menu</a>
        </address>
    </div>
</div>