@{
    ViewBag.Title = "Contact Larch";
}
<div class="container-fluid contact-wrapper">
    <div class="row contact">
        <p>we cook healthy, balanced food <br />with our local, organic &amp; seasonal ingredients <br />showcasing the bounty of the pacific northwest for you.
        </p>
        <h5>for any questions or catering inquiries, contact us at <a href="http://mailto:larch.catering@gmail.com">larch.catering@gmail.com</a></h5>
        <br />
        <h5>Phone: 503-695-5328</h5>
        <p class="address">
            located at<br />36333 east historic columbia river gorge highway<br />
            off I84 & exit 22, at the top of corbett hill road
        </p>
    </div> 
</div>