@{
    ViewBag.Title = "Contact Larch";
}
<div class="container-fluid contact-wrapper">
    <div class="row contact">
        <div class="address col s12">
            located at<br />36333 east historic columbia river gorge highway<br />
            off I84 & exit 22, at the top of corbett hill road
        </div>
        <br />
        <div class="email col s12">
            email: <a href="mailto:larch.catering@gmail.com">larch.catering@gmail.com</a><br />
        </div>
        <div class="order-form col s12">

            <a href="https://docs.google.com/forms/d/1N1ZXhkgLk6IDEoyabNEUdhfQNJq4SyseoF2_4WVrBIE/viewform?c=0&w=1">order from this week's menu</a>
        </div>
    </div>
       
</div>