@{
    ViewData["Title"] = "Home Page";
}

<div class="slider fullscreen">
    <ul class="slides">
        <li>
            <img src="~/img/carousel-couple-cooking.png" alt="Larch Provisions in the kitchen">
            <div class="caption center-align">
                <h4>Inspired by local and global flavors, wild edibles and the bounty of the Pacific Northwest</h4>
                <h5 class="light grey-text text-lighten-3">Larch specializes in new American farm food, focused intently on locality, Northwest-regional food ways and micro-seasonal ingredients.</h5>
            </div>
        </li>
        <li>
            <img src="~/img/carousel-road-fog.png" alt="The road to the kitchen">
            <div class="caption right-align">
                <h4>Larch prepares innovative weekly meals for pick-up in Corbett, Oregon from their kitchen at the start of the Historic Columbia River Gorge Highway</h4>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="~/img/carousel-columbia.png" alt="The Beautiful Columbia Gorge"> 
            <div class="caption left-align">
                <h4>Larch provides simple, healthy farm fare and ingredient-driven comfort foods prepared with both classic and modern techniques.</h4>
 
                <h5 class="light grey-text text-lighten-3">With community and commerce in mind, we look forward to sharing our food with you.</h5>
            </div>
        </li>
        <li>
            <img src="~/img/carousel-larch-mountain.png" alt="Larch Mountain"> 
            <div class="caption center-align">
                <h4>
                    With world-famous waterfalls and natural settings within biking or hiking distance, let us be your base camp!
                </h4>
                <h5 class="light grey-text text-lighten-3">Larch's namesake Larch Mountain is an exquisite natural area for hiking, picnicing, and fresh foraging opportunities. We can provide parking and meals provided so you can spend your time enjoying the scenery.</h5>
                
            </div>
        </li>
    </ul>
</div>

<img class="logo" src="~/img/white-larch-logo.png" />

<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="~/img/carousel-couple-cooking.png" alt="Larch Provisions in the kitchen"></a>

    <div class="caption center-align">
        
        <h4>
            
        </h4>
    </div>
    <a class="carousel-item" href="#two!"><img src="~/img/carousel-columbia.png" alt="The Beautiful Columbia Gorge"></a>

    <div class="caption center-align">
        
    </div>

    <a class="carousel-item" href="#three!"><img src="~/img/carousel-road-fog.png" alt="The road to the kitchen"></a>

    <div class="caption center-align">
        
        
        <h4>In 2016 we will open a food cart and gathering space on the historic highway. </h4>
    </div>
    <a class="carousel-item" href="#four!"><img src="~/img/carousel-larch-mountain.png" alt="Larch Mountain"></a>

    <div class="caption center-align">
        <h4>Larch's namesake Larch Mountain is an exquisite natural area for hiking, picnicing, and fresh foraging opportunities</h4>

        <h4>
            
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET MVC 6</li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=518007">Gulp</a> and <a href="http://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
            <li>Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699314">Add an appsetting in config and access it in app.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699318">Add client packages using Bower.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET 5</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET 5 such as Startup and middleware.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run & Deploy</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517852">Run your app on .NET Core</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517853">Run commands in your project.json</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>