@{
    ViewData["Title"] = "Home Page";
}

<div class="slider fullscreen index-slider">
    <ul class="slides">
        <li>
            <img src="~/img/carousel-road-fog.png" alt="The road to the kitchen">
            <div class="caption center-align">
                <h5>inspired by local and global flavors, wild edibles and the bounty of the pacific northwest</h5>
                <p>
                    <h5>larch specializes in new american farm food, focused intently on locality, northwest-regional food ways and micro-seasonal ingredients.</h5>
                </p>
            </div>
        </li>
        <li>
            <img src="~/img/carousel-columbia.png" alt="The Beautiful Columbia Gorge">
            <div class="caption left-align">
                <h5>we are a full service catering company and food destination in corbett, oregon.</h5>
                <p>
                <h5>

we bring you the best seasonal ingredients we can find through our kitchen & food cart at the base of larch mountain, on the historic columbia river highway. that’s the idea...
                </h5>
                </p>
                
            </div>
        </li>
        <li>
            <img src="~/img/carousel-couple-cooking.png" alt="larch provisions in the kitchen">
            <div class="caption center-align">
                <h5>simple, healthy farm fare and northwest-style comfort foods are what we love.
                </h5>
                <p>
 <h5>from our food cart we offer breakfast & lunch, + light provisions for all of your gorge adventures.</h5>
                </p>
            </div>
        </li>
        <li>
            <img src="~/img/carousel-larch-mountain.png" alt="Larch Mountain">
            <div class="caption center-align">
                <h5>
                    countless waterfalls and wild scenic views are within biking or hiking distance! let us be your base camp.
                    
                </h5>
                <p>

                <h5 class="light grey-text text-lighten-3">larch mountain is an exquisite natural area for hiking, picnicing, and fresh foraging opportunities. we hope you come to visit us soon.</h5>
                    </p>
            </div>
        </li>
    </ul>
</div>