@{
    ViewData["Title"] = "Home Page";
}

<div class="slider fullscreen index-slider">
    <ul class="slides">
        <li>
            <img src="~/img/carousel-couple-cooking.png" alt="Larch Provisions in the kitchen">
            <div class="caption center-align">
                <h4>Inspired by local and global flavors, wild edibles and the bounty of the Pacific Northwest</h4>
                <br/>
                <h5 class="light grey-text text-lighten-3">Larch specializes in new American farm food, focused intently on locality, Northwest-regional food ways and micro-seasonal ingredients.</h5>
            </div>
        </li>
        <li>
            <img src="~/img/carousel-road-fog.png" alt="The road to the kitchen">
            <div class="caption right-align">
                <h4>Larch prepares innovative weekly meals for pick-up in Corbett, Oregon from their kitchen at the start of the Historic Columbia River Gorge Highway</h4>
                <br />
                <h5 class="light grey-text text-lighten-3">Larch Provisions food truck coming later 2016</h5>
            </div>
        </li>
        <li>
            <img src="~/img/carousel-columbia.png" alt="The Beautiful Columbia Gorge"> 
            <div class="caption left-align">
                <h4>Larch provides simple, healthy farm fare and ingredient-driven comfort foods prepared with both classic and modern techniques.</h4>
                <br/>
                <h5 class="light grey-text text-lighten-3">With community and commerce in mind, we look forward to sharing our food with you.</h5>
            </div>
        </li>
        <li>
            <img src="~/img/carousel-larch-mountain.png" alt="Larch Mountain"> 
            <div class="caption center-align">
                <h4>
                    With world-famous waterfalls and natural settings within biking or hiking distance, let us be your base camp!
                </h4><br/>
                <h5 class="light grey-text text-lighten-3">Larch's namesake Larch Mountain is an exquisite natural area for hiking, picnicing, and fresh foraging opportunities. We can provide parking and meals provided so you can spend your time enjoying the scenery.</h5>
                
            </div>
        </li>
    </ul>
</div>

<img class="logo" src="~/img/white-larch-logo.png" />

<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="~/img/carousel-couple-cooking.png" alt="Larch Provisions in the kitchen"></a>

    <div class="caption center-align">
        
        <h4>
            
        </h4>
    </div>
    <a class="carousel-item" href="#two!"><img src="~/img/carousel-columbia.png" alt="The Beautiful Columbia Gorge"></a>

    <div class="caption center-align">
        
    </div>

    <a class="carousel-item" href="#three!"><img src="~/img/carousel-road-fog.png" alt="The road to the kitchen"></a>

    <div class="caption center-align">
        
        
        <h4>In 2016 we will open a food cart and gathering space on the historic highway. </h4>
    </div>
    <a class="carousel-item" href="#four!"><img src="~/img/carousel-larch-mountain.png" alt="Larch Mountain"></a>

    <div class="caption center-align">
        <h4>Larch's namesake Larch Mountain is an exquisite natural area for hiking, picnicing, and fresh foraging opportunities</h4>

        <h4>
            
        </h4>
    </div>
</div>
