@{
    ViewData["Title"] = "Home Page";
}

<div class="slider fullscreen index-slider">
    <ul class="slides">
        <li>
            <img src="~/img/carousel-couple-cooking.png" alt="larch provisions in the kitchen">
            <div class="caption center-align">
                <h4>inspired by local and global flavors, wild edibles and the bounty of the Pacific Northwest</h4>
                <br />
                <h5 class="light grey-text text-lighten-3">larch specializes in new american farm food, focused intently on locality, northwest-regional food ways and micro-seasonal ingredients.</h5>
            </div>
        </li>
        <li>
            <img src="~/img/carousel-road-fog.png" alt="The road to the kitchen">
            <div class="caption right-align">
                <h4>we prepare organic meals weekly for pick-up in corbett, oregon from our kitchen at the base of larch mountain, on the historic columbia river gorge highway</h4>
                <br />
                <h5 class="light grey-text text-lighten-3">larch provisions food truck opening summer 2016</h5>
            </div>
        </li>
        <li>
            <img src="~/img/carousel-columbia.png" alt="The Beautiful Columbia Gorge">
            <div class="caption left-align">
                <h4>we cook simple, healthy farm fare and northwest-style comfort foods, utilizing both classic and modern techniques to highlight the best season ingredients we can find.</h4>
                <br />
                <h5 class="light grey-text text-lighten-3">with community and commerce in mind, we look forward to sharing our food with you.</h5>
            </div>
        </li>
        <li>
            <img src="~/img/carousel-larch-mountain.png" alt="Larch Mountain">
            <div class="caption center-align">
                <h4>
                    countless waterfalls and wild scenic views are within biking or hiking distance! let us be your base camp.
                </h4><br />
                <h5 class="light grey-text text-lighten-3">larch mountain is an exquisite natural area for hiking, picnicing, and fresh foraging opportunities. we can provide parking and meals provided so you can spend your time adventuring.</h5>
            </div>
        </li>
    </ul>
</div>