@model LarchProvisionsWebsite.Models.InstagramObject
<p>
    howdy.
</p>
@if (Model != null)
{

}
else
{
    <p>instagram login: <a asp-action="AuthenticateInstagram" asp-controller="Home">clicky</a></p>
}