<div class="container center">
    <h5>
        This website uses Instagram for 3rd-party authentication.

        Once you authorize this log in you will be able to use make use of instagram's api and share your pictures.

        We will not share your information with outside parties.
    </h5>
</div>