@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="provisions-display">
    <div class="row food-cart">
        <div class="col l6 m6 s12 right-align">

            <h5>look for us at the top of corbett hill road.</h5>
            <h5>
                from our old trolley cart kitchen we offer seasonal breakfast & lunch fare:
            </h5>
            <h5>
                sandwiches, salads, & refreshing beverages
            </h5>
            <h5>
                provisions for the trail & your adventure ahead<br />
                + gifts from the gorge.
            </h5>
            <h5><a href="http://www.larchprovisions.com/menus/provisions.pdf" target="_blank">open larch provisions menus</a></h5>
        </div>
        <div class="col l6 m6 s12">
            <iframe src="https://drive.google.com/viewerng/viewer?url=https://www.larchprovisions.com/menus/provisions.pdf?pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="600" height="900" class="pdf-preview" />
        </div>
    </div>
</div>