@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="provisions-display">
    <div class="row">
        <h3>larch provisions provides fresh prepared meal service weekly for pickup in corbett, or</h3>
    </div>






</div>