@model LarchProvisionsWebsite.Models.Recipe

    <div class="row update-order">
        
            <p>ohai</p>
        @foreach (var order in Model.Orders)
        {
            if (order.RecipeId == Model.RecipeId)
            {
                <form action="UpdateOrder" class="update-order col s12">
                    <div class="row">
                        <div class="col s8">
                            <div id="orders_recipe_@Model.RecipeId">
                                @for (var i = 0; i < order.OrderSize; i++)
                                {
                                    <i class="material-icons">redeem</i>
                                }
                            </div>

                            Orders total: $@(Model.CustPrice * order.OrderSize)
                        </div>
                        <div class="input-field col s4">
                            <input hidden name="orderId" value="@order.OrderId" />

                            <label for="@order.OrderSize"># of orders</label>
                            <input type="number" name="OrderSize" value="@order.OrderSize" class="validate" />
                        </div>
                    </div>
                </form>
               
                    @*<form action="Delete" class="btn delete-order col s3">
                        <input hidden name="orderId" value="@order.OrderId" />
                        <btn onClick="return confirm('you sure bro?');" type="submit" class="remove-order-btn">
                            <i class="material-icons large">delete</i>
                        </btn>
                    </form>*@


            }
        }
    </div>