@model LarchProvisionsWebsite.Models.Menu

@{
    ViewData["Title"] = "Create";
}

<div class="menu-create-wrapper">
    <div class="container">
        <div class="row">
            <br />
            <h4>Create a new Menu</h4>
            <form asp-action="Create" class="col s12">
                <div class="row">
                    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                    <div class="input-field">
                        <label asp-for="Title" class="col s12"></label>

                        <input asp-for="Title" type="text" />
                        <span asp-validation-for="Title" class="text-danger" />
                    </div>
                    <div class="input-field">
                        <label asp-for="OrderBy" class="col s6"></label>

                        <input asp-for="OrderBy" class="datepicker" type="date" />
                        <span asp-validation-for="OrderBy" class="text-danger" />
                    </div>
                    <div class="input-field">
                        <label asp-for="PickupBy" class="col s6 control-label"></label>

                        <input asp-for="PickupBy" class="datepicker" type="date" />
                        <span asp-validation-for="PickupBy" class="text-danger" />
                    </div>
                    <div class="input-field">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>