@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Admin";
    Layout = "_RoleLayout";

}

<div class="row">
    <div class="col l6 m6 s6">

        @using (Html.BeginForm())
            {
            @if (Model != null)
            {

                @foreach (var role in Model)
                {
                    <p>
                        <strong>@role.Name | @role.Id </strong>
                        <span onclick="return confirm('Are you sure to delete?')"><a href="/Admin/Delete?RoleName=@role.Name" class="delLink">Delete</a></span> | @Html.ActionLink("Edit", "Edit", new { roleName = @role.Name })
                    </p>
                }
            }
        }
    </div>
</div>