.material-icons.strawberry {
  color: #892517; }

h1.strawberry {
  color: #892517; }

.btn {
  background-color: #cecece;
  text-shadow: 1px 1px 1px black; }
  .btn .remove-order-btn {
    box-shadow: none;
    background-color: transparent; }
    .btn .remove-order-btn i {
      color: #892517; }
    .btn .remove-order-btn i:hover {
      cursor: pointer; }

.remove-order-btn:hover {
  box-shadow: none; }

.btn:hover {
  background-color: #c9c9c9;
  color: #892517;
  text-shadow: 1px 1px 1px black; }

.btn:focus {
  background-color: #f6f6f6;
  box-shadow: rgba(137, 37, 23, 0.8) 10px 10px initial;
  color: #892517; }

.delete-button {
  background-color: transparent;
  width: 20px;
  margin: 0px;
  border: none;
  box-shadow: none; }
  .delete-button .delete-icon {
    opacity: 1 !important;
    margin-left: 0px; }

.delete-button:hover {
  box-shadow: none;
  background-color: transparent; }

.add-recipe {
  background-color: transparent;
  border: none;
  box-shadow: none; }

.add-recipe:hover {
  box-shadow: none;
  background-color: transparent; }

/* label color */
.input-field label {
  opacity: 1; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #892517;
  font-size: 1.2em;
  opacity: 1 !important; }

.input-field input[type=number]:focus + label {
  color: #892517;
  opacity: 1 !important; }

.input-field input[type=text] {
  color: lightgrey;
  text-shadow: 1px 1px 1px black;
  font-size: 1.3em;
  border-bottom: 1px solid #892517;
  box-shadow: 0 1px 0 0 #000; }

.input-field input[type=email] {
  color: lightgrey;
  text-shadow: 1px 1px 1px black;
  font-size: 1.3em;
  border-bottom: 1px solid #892517;
  box-shadow: 0 1px 0 0 #000; }

.input-field input[type=password] {
  color: lightgrey;
  text-shadow: 1px 1px 1px black;
  font-size: 1.3em;
  border-bottom: 1px solid #892517;
  box-shadow: 0 1px 0 0 #000; }

.input-field input[type=number] {
  color: lightgrey;
  text-shadow: 1px 1px 1px black;
  font-size: 1.3em;
  border-bottom: 1px solid #892517;
  box-shadow: 0 1px 0 0 #000; }

.input-field input[type=date] {
  color: lightgrey;
  text-shadow: 1px 1px 1px black;
  font-size: 1.3em;
  border-bottom: 1px solid #892517;
  box-shadow: 0 1px 0 0 #000; }

.input-field input[type=date]:focus {
  border-bottom: 1px solid #892517;
  box-shadow: 0 1px 0 0 #000; }

/* input underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid lightgray;
  box-shadow: 0 1px 0 0 #000; }

.input-field input[type=email]:focus {
  border-bottom: 1px solid lightgray;
  box-shadow: 0 1px 0 0 #000; }

.input-field input[type=password]:focus {
  border-bottom: 1px solid lightgray;
  box-shadow: 0 1px 0 0 #000; }

.input-field input[type=number]:focus {
  border-bottom: 1px solid lightgray;
  box-shadow: 0 1px 0 0 #000; }

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* valid color */
.input-field input[type=email].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 #892517; }

/* invalid color */
.input-field input[type=email].invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 #892517; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000; }

.picker__box {
  background-color: rgba(5, 5, 5, 0.1);
  text-shadow: 1px 1px 1px black;
  color: lightgrey !important; }
  .picker__box .picker__weekday-display {
    background-color: rgba(5, 5, 5, 0.1); }
  .picker__box .picker__date-display {
    background-color: rgba(5, 5, 5, 0.1); }
    .picker__box .picker__date-display .picker__year-display {
      color: lightgrey; }
  .picker__box .picker__calender-container .picker__table .picker__day {
    color: red; }
  .picker__box .picker__footer {
    text-shadow: 1px 1px 2px black; }
    .picker__box .picker__footer .picker__today {
      color: #892517; }
    .picker__box .picker__footer .picker__close {
      background-color: #892517; }

.order-toast {
  background: linear-gradient(darkgray, lightgray, darkgray);
  color: #0a0a0a; }

.nav-wrapper {
  background-color: #F6F6F6; }
  .nav-wrapper a {
    font-size: 1.5em;
    text-shadow: none;
    color: slategrey; }
  .nav-wrapper a:hover {
    color: #892517;
    text-shadow: none;
    background-color: #F6F6F6;
    cursor: pointer; }
  .nav-wrapper i:hover {
    cursor: pointer; }
  .nav-wrapper .brand-logo img {
    min-height: 60px;
    max-height: 65px;
    margin: 0px; }
  .nav-wrapper .brand-logo:hover {
    background-color: transparent; }
  .nav-wrapper .button-collapse {
    display: block !important; }
  .nav-wrapper .menu-button {
    margin-right: 10px; }

.menu-edit-wrapper {
  background-image: url(../img/dinner.png);
  width: 100%;
  background-size: cover; }
  .menu-edit-wrapper h2, .menu-edit-wrapper h3, .menu-edit-wrapper h4, .menu-edit-wrapper h5, .menu-edit-wrapper li, .menu-edit-wrapper a {
    color: lightgray;
    text-shadow: 2px 2px 2px black; }
  .menu-edit-wrapper .edit-menu {
    margin-left: 50px; }
    .menu-edit-wrapper .edit-menu .recipe-calc li {
      color: lightgray;
      text-shadow: 2px 2px 2px black;
      padding-left: 13%; }
    .menu-edit-wrapper .edit-menu .served-recipes {
      display: flex;
      flex-flow: row nowrap;
      align-content: space-between; }
    .menu-edit-wrapper .edit-menu .serve-recipes .serve-recipe-cards {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-content: space-between; }
    .menu-edit-wrapper .edit-menu .serve-recipes li {
      width: 200px; }
    .menu-edit-wrapper .edit-menu .serve-recipes .card {
      justify-content: center;
      width: 200px; }
      .menu-edit-wrapper .edit-menu .serve-recipes .card .card-image img {
        max-width: 200px; }
  .menu-edit-wrapper .list-orders {
    z-index: 2;
    top: 125px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between; }
    .menu-edit-wrapper .list-orders .list-order {
      opacity: 0; }
      .menu-edit-wrapper .list-orders .list-order .collapsible-body {
        background-color: rgba(250, 250, 250, 0.2); }

.menu-list-wrapper {
  background-image: url("../img/cheffin.png");
  background-size: cover;
  width: 100%;
  color: lightgrey;
  min-height: 500px; }

.menu-create-wrapper {
  background-image: url("../img/big-ingredients.png");
  background-size: cover;
  width: 100%;
  min-height: 500px; }

.about-content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 0px; }
  .about-content .socials {
    width: 100%; }
  .about-content .card .card-reveal {
    background-color: rgba(255, 255, 255, 0.85); }
  .about-content img {
    width: 100%; }
  .about-content .e-instagram img {
    width: 50px;
    height: 50px; }
  .about-content .about-column2 {
    text-align: left;
    width: 50%;
    padding-left: 0px; }
    .about-content .about-column2 .card .card-reveal {
      text-align: justify; }
  .about-content .about-column1 {
    text-align: left;
    padding-right: 0px;
    width: 50%; }
    .about-content .about-column1 .card .card-reveal {
      text-align: justify; }
  .about-content .about {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    text-align: justify; }
  .about-content .about-title h2 {
    text-align: center;
    font-family: 'Franklin Gothic'; }
  .about-content .about-title {
    text-align: center;
    max-width: 100%; }

.menu-background {
  background-image: url("../img/cheffin.png");
  background-color: darkgrey;
  background-size: cover;
  height: 100%;
  width: 100%; }
  .menu-background .menu-display h2, .menu-background .menu-display h3, .menu-background .menu-display h4, .menu-background .menu-display h5 {
    color: lightgray;
    text-shadow: 2px 2px 2px black; }
  .menu-background .menu-display button {
    background-color: transparent;
    box-shadow: none;
    border: none; }
  .menu-background .menu-display .delete-order {
    background-color: transparent;
    box-shadow: none; }
  .menu-background .menu-display .card {
    background-color: rgba(250, 250, 250, 0.7); }
    .menu-background .menu-display .card .balanced-meals {
      position: absolute;
      top: 100px;
      padding-left: 25px;
      padding-right: 25px;
      text-align: center;
      z-index: 5; }
    .menu-background .menu-display .card h3, .menu-background .menu-display .card h5 {
      color: #f6f6f6;
      text-shadow: 1px 1px 1px black; }
    .menu-background .menu-display .card .card-reveal {
      background-color: rgba(5, 0, 0, 0.8);
      color: lightgray;
      text-shadow: 1px 1px 1px black; }
      .menu-background .menu-display .card .card-reveal .card-title {
        color: lightgray;
        text-shadow: 1px 1px 1px black; }
    .menu-background .menu-display .card .card-content {
      background-color: rgba(250, 250, 250, 0.4); }
    .menu-background .menu-display .card .order-info {
      background-color: rgba(5, 0, 0, 0.9); }

.contact-wrapper .contact {
  background-image: url("../img/in-the-kitchen.png");
  width: 100%;
  height: 100%;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  color: lightgray;
  text-shadow: 2px 2px 2px black;
  font-size: 1em;
  text-align: right;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap; }
  .contact-wrapper .contact a {
    color: lightgray;
    text-shadow: 2px 2px 2px black; }
  .contact-wrapper .contact .email {
    text-align: right; }
    .contact-wrapper .contact .email a:hover {
      color: #892517; }
  .contact-wrapper .contact .order-form {
    align-self: flex-end;
    text-align: center;
    color: lightgray;
    text-shadow: 1px 1px 1px black;
    font-size: 2.5em; }
    .contact-wrapper .contact .order-form a {
      color: lightgray; }
    .contact-wrapper .contact .order-form a:hover {
      color: #892517;
      text-shadow: 2px 2px 2px white; }

.provisions-display {
  background-image: url(../img/couple-mountain.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1200px;
  width: 100%;
  color: lightgray;
  text-shadow: 1px 1px 1px black; }
  .provisions-display h3, .provisions-display h4, .provisions-display h5 {
    color: lightgray;
    text-shadow: 2px 2px 2px black;
    background-color: rgba(7, 0, 0, 0.2); }
  .provisions-display li {
    padding-bottom: 20px;
    background-color: rgba(7, 0, 0, 0.2); }
  .provisions-display .provisions-columns {
    padding-top: 500px; }
  .provisions-display .provisions-wrapper {
    padding-top: 10px; }
  .provisions-display .card {
    float: right;
    width: 375px;
    background-color: rgba(250, 250, 250, 0.3); }
    .provisions-display .card .card-content {
      background-color: rgba(0, 0, 0, 0.3); }

.edit-recipe {
  background-image: url("../img/cook-pasta.png");
  background-size: contain;
  width: 100%; }
  .edit-recipe li {
    font-size: 1.3em; }

.recipe-list-wrapper {
  background-image: url("../img/cheffin.png");
  background-size: cover;
  width: 100%;
  color: lightgray; }
  .recipe-list-wrapper a {
    color: lightgray; }
  .recipe-list-wrapper i:hover {
    color: #892517; }

.create-recipe-wrapper {
  background-image: url("../img/cutting-board.png");
  background-size: cover;
  width: 100%; }

.recipe-details-wrapper {
  background-image: url("../img/cutting-board.png");
  background-size: cover;
  width: 100%;
  color: lightgray;
  text-shadow: 2px 2px 2px black;
  background-color: dimgray; }
  .recipe-details-wrapper dd {
    font-size: 1.5em; }

.create-ingredient-wrapper {
  background-image: url("../img/ingredients.png");
  background-size: cover;
  width: 100%;
  min-height: 800px;
  background-repeat: no-repeat; }
  .create-ingredient-wrapper .input-field label {
    opacity: 1; }
  .create-ingredient-wrapper h2 {
    color: lightgrey;
    text-shadow: 2px 2px 2px black; }

.edit-ingredient-wrapper {
  background-image: url(../img/dinner.png);
  width: 100%;
  min-height: 800px;
  background-size: cover;
  background-repeat: no-repeat; }
  .edit-ingredient-wrapper h2, .edit-ingredient-wrapper h3, .edit-ingredient-wrapper h4, .edit-ingredient-wrapper h5, .edit-ingredient-wrapper li, .edit-ingredient-wrapper a {
    color: lightgray;
    text-shadow: 2px 2px 2px black; }
  .edit-ingredient-wrapper .input-field label {
    opacity: 1; }

.ingredient-list-wrapper {
  background-image: url(../img/big-ingredients.png);
  width: 100%;
  min-height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  color: lightgray; }
  .ingredient-list-wrapper td {
    font-size: 1.3em;
    text-shadow: 2px 2px 2px black; }

footer {
  margin-top: 0px;
  text-shadow: 1px 1px 2px black;
  background: lightgray;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#f6f6f6, lightgray, #6e6e6e);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f6f6f6, lightgray, #6e6e6e);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f6f6f6, lightgray, #6e6e6e);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f6f6f6, lightgray, #6e6e6e);
  /* Standard syntax */
  padding-bottom: 27px; }

.orders-list {
  background-color: dimgrey; }

.list-orders {
  background-color: transparent; }
  .list-orders .collapsible-header {
    background-color: transparent; }

.login-display {
  background-image: url("../img/login-background.png");
  background-size: cover;
  width: 100%; }

.register-display {
  background-image: url(../img/register-background.png);
  background-size: contain;
  width: 100%;
  height: 100%;
  color: lightgrey; }

#menu-loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

#menu-loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 75px;
  border: 2px solid transparent;
  border-top-color: #892517;
  z-index: 1500;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

#menu-loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color: lightgrey;
  border-radius: 50%;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite; }

#menu-loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid transparent;
  border-top-color: #0f0f0f;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite; }

#menu-loader-wrapper .loader-section {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #858585;
  z-index: 1000; }
  #menu-loader-wrapper .loader-section loader-section.section-left {
    left: 0; }
  #menu-loader-wrapper .loader-section loader-section.section-right {
    right: 0; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }

/* Loaded */
.loaded #menu-loader-wrapper .loader-section.section-left, .loader-section.section-right {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 0.3s ease-out;
  transition: all 0.3s 0.3s ease-out; }

.loaded #menu-loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.loaded #menu-loader-wrapper {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 0.6s ease-out;
  transition: all 0.3s 0.6s ease-out; }

@font-face {
  font-family: orator;
  src: url(../fonts/orator/ufonts.com_orator-regular.ttf); }

body, html {
  color: color("black", "lighten-2");
  background-color: color("grey", "lighten-4");
  font-family: orator; }
  body .body-content, html .body-content {
    height: 100%;
    width: 100%; }
  body .footer-copyright a, html .footer-copyright a {
    color: #892517;
    font-weight: bold;
    font-size: 1.5em; }
  body a, html a {
    color: slategrey; }
  body a:hover, html a:hover {
    color: #892517; }
  body h1, body h2, body h3, body h4, body h5, body li, html h1, html h2, html h3, html h4, html h5, html li {
    color: lightgray;
    text-shadow: 1px 1px 1px black; }
    body h1 button, body h2 button, body h3 button, body h4 button, body h5 button, body li button, html h1 button, html h2 button, html h3 button, html h4 button, html h5 button, html li button {
      color: #892517; }

.caption h4, .caption h5 {
  background-color: rgba(7, 0, 0, 0.7);
  display: inline;
  line-height: 1.5em;
  opacity: .75; }

@media (max-width: 600px) {
  h3, h2, h4, h5 {
    font-size: small; }
  .caption h4, .caption h5 {
    background-color: rgba(7, 0, 0, 0.7);
    display: inline;
    font-size: small;
    opacity: .75; } }

@media (max-width: 600px) {
  .contact {
    font-size: small; } }

@media (max-width: 800px) {
  .contact-wrapper {
    min-height: 1600px; } }

