.nav-wrapper {
  background-color: #F6F6F6; }
  .nav-wrapper a {
    font-size: 1.3em;
    color: slategrey; }
  .nav-wrapper a:hover {
    color: #fafafa;
    text-shadow: 0px -1px 2px black; }

.menu-cover {
  width: 100%;
  height: 30%; }

.menu-content-main {
  width: 80%;
  margin: 15px auto;
  font-size: 16px;
  text-align: center; }

.menu-content-main h2 {
  margin-top: 20px; }

@media (max-width: 560px) {
  .menu-content-main h2 {
    width: 100%; } }

.menu-content-main p {
  margin-top: 20px;
  font-size: 16px;
  padding-bottom: 15px;
  letter-spacing: 2px; }

@media (max-width: 560px) {
  .menu-content-main p {
    font-size: 14px; } }

.menu-content-body ol {
  width: 80%;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 29px;
  text-align: left; }

.menu-content-body ol li {
  text-align: left;
  letter-spacing: 2px; }

@media (max-width: 560px) {
  .menu-content-body ol li {
    font-size: 12px;
    list-style: decimal;
    text-align: left;
    letter-spacing: 0px; } }

body, html {
  color: color("black", "lighten-2");
  font-family: "Franklin Gothic", sans-serif;
  background-color: color("grey", "lighten-4"); }
  body a, html a {
    color: slategrey; }

