@import "base/variables";
@import "base/buttons";
@import "base/inputs";
@import "base/datepicker";
@import "base/order-toast";

@import "layout/navbar";
@import "layout/menu";
@import "layout/about";
@import "layout/menu-display";
@import "layout/contact";
@import "layout/provisions";
@import "layout/recipe";
@import "layout/ingredient";
@import "layout/footer";
@import "layout/orders";
@import "layout/update-order";
@import "layout/login";
@import "layout/register";
@import "layout/menu-loader";
@import "layout/manage-account";

@font-face {
    font-family: orator;
    src: url(../fonts/orator/ufonts.com_orator-regular.ttf);
}

body, html {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    main {
        flex: 1 0 auto;

        .body-content {
            height: 100%;
            width: 100%;
            margin-bottom: 0px;
        }
    }

    .footer-copyright a {
        color: $strawberry;
        font-weight: bold;
        font-size: 1.5em;
    }

    color: $primary-color;
    background-color: $primary-bg-color;
    font-family: orator;

    a {
        color: $primary-link-color;
    }

    a:hover {
        color: $strawberry;
    }

    h1, h2, h3, h4, h5, li {
        color: lightgray;
        text-shadow: 1px 1px 1px lighten(black, 4);

        button {
            color: $strawberry;
        }
    }
}

.caption h4, .caption h5 {
    background-color: rgba(7,0,0,0.7);
    display: inline;
    line-height: 1.5em;
    opacity: .75;
}

@media (max-width:600px) {
    h3, h2, h4, h5 {
        font-size: small;
    }

    .caption h4, .caption h5 {
        background-color: rgba(7,0,0,0.7);
        display: inline;
        font-size: small;
        opacity: .75;
    }

    iframe.pdf-preview {
        display: none;
    }
    .menu-description {
        a {
            text-shadow: none;
        }
    }
}

@media (max-width:600px) {
    .provisions-display {
        background-image: url(../img/couple-mountain-mobile.png);
        background-size: contain;
    }

    .contact {
        font-size: small;
        min-height: 300px;
    }
}

@media (max-width:800px) {
}