@import "base/variables";
@import "base/buttons";
@import "base/inputs";

@import "layout/navbar";
@import "layout/menu";
@import "layout/about";
@import "layout/menu-display";
@import "layout/contact";
@import "layout/provisions";
@import "layout/recipe";
@import "layout/ingredient";

@font-face {
    font-family: orator;
    src: url(../fonts/orator/ufonts.com_orator-regular.ttf);
}

body, html {
    color: $primary-color;
    background-color: $primary-bg-color;
    font-family: orator;

    a {
        color: $primary-link-color;
    }
}

.caption h4, .caption h5 {
    background-color: rgba(7,0,0,0.7);
    display: inline;
    line-height: 1.5em;
    opacity: .75;
}

@media (max-width:600px) {
    .caption h4, .caption h5 {
    background-color: rgba(7,0,0,0.7);
    display: inline;
    font-size: small;
    opacity: .75;
}
}