.about-content {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding: 0px;
    .socials {
        
            width: 100%;
       
    }
    .card {
        .card-reveal {
            background-color: rgba(255,255,255,0.85);

        }
    }
    img {
        width: 100%;
    }

    .e-instagram {
        img {
            width: 50px;
            height: 50px;
        }
    }

    .about-column2 {
        text-align: left;
        width: 50%;
        padding-left: 0px;
        .card {
            .card-reveal {
                text-align: justify;
            }
        }
    }

    .about-column1 {
        text-align: left;

        padding-right: 0px;
        width: 50%;

        .card {
            .card-reveal {
                text-align: justify;
            }
        }
    }

    .about {
        padding: 0px;
        margin: 0px;
        font-size: 16px;
        text-align: justify;
    }

    .about-title h2 {
        text-align: center;
        font-family: 'Franklin Gothic';
    }

    .about-title {
        text-align: center;
        max-width: 100%;
    }
}