.contact-wrapper {
    margin-bottom: 0px;
    .contact {
        background-image: url("../img/cutting-board.png");
        width: 100%;
        min-height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        color: lightgray;
        text-shadow: 2px 2px 2px black;
        font-size: 1em;
        text-align: right;
        display: flex;
        align-items: flex-start;
        flex-flow: row wrap;
        justify-content: flex-end;
      
        .address {
        }

        .email {
            text-align: right;

            a:hover {
                color: $strawberry;
            }
        }

        .order-form {
            align-self: flex-end;
            text-align: center;
            color: lightgray;
            text-shadow: 1px 1px 1px black;
            font-size: 2.5em;

            a {
                color: lightgray;
            }

            a:hover {
                color: $strawberry;
                text-shadow: 2px 2px 2px white;
            }
        }
    }
}