.contact-wrapper {
    .contact {
        background-image: url("../img/in-the-kitchen.png");
        width: 100%;
        height: 100%;
        min-height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        color: lightgray;
        text-shadow: 2px 2px 2px black;
        font-size: 1em;
        text-align: right;

        a {
            color: lightgray;
            text-shadow: 2px 2px 2px black;
        }

        display: flex;
        align-items: flex-start;
        flex-flow: row wrap;

        .address {
        }

        .email {
            text-align: right;

            a:hover {
                color: $strawberry;
            }
        }

        .order-form {
            align-self: flex-end;
            text-align: center;
            color: lightgray;
            text-shadow: 1px 1px 1px black;
            font-size: 2.5em;

            a {
                color: lightgray;
            }

            a:hover {
                color: $strawberry;
                text-shadow: 2px 2px 2px white;
            }
        }
    }
}