footer {
    
    text-shadow: 1px 1px 2px black;
    background: lightgray; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f6f6f6, lightgray, lighten(dimgray, 2)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f6f6f6, lightgray, lighten(dimgray, 2)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f6f6f6, lightgray, lighten(dimgray, 2)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f6f6f6, lightgray, lighten(dimgray, 2)); /* Standard syntax */   
    
}

footer.page-footer {
    
        margin-top: 0px;
        padding-top: 0px;
        .feet {
            a {
            margin-top: 0px;
            }
        }
    }

