.menu-edit-wrapper {
    background-image: url(../img/dinner.png);
    width: 100%;
    background-size: cover;
    h2, h3, h4, h5, li, a {
            color: lightgray;
            text-shadow: 2px 2px 2px black;
        }
    .edit-menu {
        margin-left: 50px;
        
        .recipe-calc li {
            color: lightgray;
            text-shadow: 2px 2px 2px black;
            padding-left: 13%;
        }
            .served-recipes {
                display: flex;
                flex-flow: row nowrap;
                align-content: space-between;
            }
        .serve-recipes {
            .serve-recipe-cards {
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                align-content: space-between;

            }
            li {
                width: 200px;
            }
            .card {
                justify-content: center;
                width: 200px;
                .card-image {

                    img {
                    max-width: 200px;
                    }
                } 
            }
        }
    }

    .list-orders {
        z-index: 2;
        top: 125px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        .list-order {
            opacity: 0;
            .collapsible-body {
                background-color: rgba(250, 250, 250, 0.2);

            }

        }
    }
}

.menu-list-wrapper {
    background-image: url("../img/cheffin.png");
    background-size: cover;
    width: 100%;
    color: lightgrey;
    min-height: 500px;

}

.menu-create-wrapper {
    background-image: url("../img/big-ingredients.png");
    background-size: cover;
    width: 100%;
    min-height: 500px;
}