.menu-edit-wrapper {
    background-image: url(../img/dinner.png);
    width: 100%;
    background-size: cover;
    h2, h3, h4, h5 {
            color: lightgray;
            text-shadow: 2px 2px 2px black;
        }
    .edit-menu {
        margin-left: 50px;
        
        .recipe-calc li {
            color: lightgray;
            text-shadow: 2px 2px 2px black;
            padding-left: 13%;
        }

        .served-recipes {
            display: flex;
            flex-flow: row wrap;
        }
    }

    .list-orders {
        z-index: 2;
        top: 125px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        .list-order {
            opacity: 0;

        }
    }
}