.provisions-display {
    display: flex;
    background-image: url(../img/couple-mountain.png); 
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1200px;
    width: 100%;
    h3, h4, h5 {
       
        background-color: rgba(7,0,0,0.2);
    }
    color: lightgray;
    text-shadow: 1px 1px 1px black;
    li {
        padding-bottom: 20px;
        background-color: rgba(7,0,0,0.2);

    }
    .provisions-columns {
        padding-top: 500px;
    }
    .provisions-wrapper {
        padding-top: 10px;
    }
    .card {
        float: right;
        width: 375px;
        background-color: rgba(250, 250, 250, 0.3);
        .card-content {
                background-color: rgba(0,0,0,0.3);

        }
    }
    .pdf-preview {
        justify-content: flex-start;
    }
}
